.App {
  text-align: center;
  min-height: 100vh;
  font-family: Verdana, Helvetica, sans-serif;
  color: #ddcdd9;
}

body {
  background-color: #422680;
  background-image: linear-gradient(225deg, #422680 0%, #784BA0 50%, #2B86C5 100%);
  background-repeat: no-repeat;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #45a049;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.header {
  margin-bottom: 100px;
  margin-top: 50px;
}

button {
  background-color: #651155;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p a.link {
  color: #F54952;
  text-decoration: none;
}

.profile {
 margin-top: -50px;
 margin-bottom: 100px;
}

.timer {
  width: 500px;
  margin: auto;
  border: solid 1px grey;
  padding: 20px;
  box-shadow: 10px 7px 120px rgba(100, 100, 111, 0.2) ;
}

table {
 margin: auto;
 margin-top: 10px;
 margin-bottom: 100px;
 border: none;
 background: rgba(122, 80, 80, 0.288);
}


.table-header {
  background: rgba(122, 80, 80, 0.486);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.table-header th {
  height: 20px;
    padding: 10px;
}

.table-row {
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.table-row  td{
  padding: 10px;
  margin: 5px;
}


.filter {
  padding: 10px;
  margin: 8px 5px;
  background: #15172b;
}

.filter:hover {
  background: #2d3480;
}


.sessions {
  margin-top: 50px;
  margin-bottom: 0px;
}

.btn {
 margin: 10px;
}

.timer-values {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.timer-box {
  width: 90px;
  height: 90px;
  margin: 1px;
  /* border: 1px solid black; */
}

.timer-box p {
  /* width: 90px;
  height: 90px; */
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 10px 7px 80px rgba(46, 46, 56, 0.2) ;
  background: #422680;
}

.timer-box:first-child p, .timer-box:first-child p:first-child {
  background: #80264c7a;
}

.timer-box:first-child p:first-child {
  background: #80264c2d;
}

.timer-box p:first-child {
  font-size: 25px;
  box-shadow: 10px 7px 80px rgba(46, 46, 56, 0.2) ;
  height: 70px;
  background: #43268088;
}
